h1 {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.btn {
  background: skyblue;
  color: #fff;
  display: inline;
  padding: 10px;
  border-radius: 50%;
  
}

